<p id="notice"><%= notice %></p>

<h1>St Perfil Estados</h1>

<table>
  <thead>
    <tr>
      <th>St perfil estado</th>
      <th>Rol</th>
      <th>St perfil modelo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @st_perfil_estados.each do |st_perfil_estado| %>
      <tr>
        <td><%= st_perfil_estado.st_perfil_estado %></td>
        <td><%= st_perfil_estado.rol %></td>
        <td><%= st_perfil_estado.st_perfil_modelo_id %></td>
        <td><%= link_to 'Show', st_perfil_estado %></td>
        <td><%= link_to 'Edit', edit_st_perfil_estado_path(st_perfil_estado) %></td>
        <td><%= link_to 'Destroy', st_perfil_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New St Perfil Estado', new_st_perfil_estado_path %>
