<p id="notice"><%= notice %></p>

<h1>Dispositivo Atenciones</h1>

<table>
  <thead>
    <tr>
      <th>Dispositivo atencion</th>
      <th>Lugar atencion</th>
      <th>Profesional</th>
      <th>Frecuencia control</th>
      <th>Tratamiento</th>
      <th>Pcd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispositivo_atenciones.each do |dispositivo_atencion| %>
      <tr>
        <td><%= dispositivo_atencion.dispositivo_atencion %></td>
        <td><%= dispositivo_atencion.lugar_atencion %></td>
        <td><%= dispositivo_atencion.profesional %></td>
        <td><%= dispositivo_atencion.frecuencia_control %></td>
        <td><%= dispositivo_atencion.tratamiento %></td>
        <td><%= dispositivo_atencion.pcd_id %></td>
        <td><%= link_to 'Show', dispositivo_atencion %></td>
        <td><%= link_to 'Edit', edit_dispositivo_atencion_path(dispositivo_atencion) %></td>
        <td><%= link_to 'Destroy', dispositivo_atencion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispositivo Atencion', new_dispositivo_atencion_path %>
