<p id="notice"><%= notice %></p>

<p>
  <strong>Dispositivo atencion:</strong>
  <%= @dispositivo_atencion.dispositivo_atencion %>
</p>

<p>
  <strong>Lugar atencion:</strong>
  <%= @dispositivo_atencion.lugar_atencion %>
</p>

<p>
  <strong>Profesional:</strong>
  <%= @dispositivo_atencion.profesional %>
</p>

<p>
  <strong>Frecuencia control:</strong>
  <%= @dispositivo_atencion.frecuencia_control %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @dispositivo_atencion.tratamiento %>
</p>

<p>
  <strong>Pcd:</strong>
  <%= @dispositivo_atencion.pcd_id %>
</p>

<%= link_to 'Edit', edit_dispositivo_atencion_path(@dispositivo_atencion) %> |
<%= link_to 'Back', dispositivo_atenciones_path %>
