<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @b_clave_faceta.modelo %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @b_clave_faceta.campo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @b_clave_faceta.valor %>
</p>

<%= link_to 'Edit', edit_b_clave_faceta_path(@b_clave_faceta) %> |
<%= link_to 'Back', b_clave_facetas_path %>
