<div class="field">
	<% unless ['hidden', 'check_box'].include?(helper_name) %>
		<%= render partial: '0p/display/label', locals: {form: form, label: label, v: v }  %>
	<% end %>
	<% case helper_name %>
	<% when 'radio' %>
		<% radio_list.each_with_index do |radio, indice| %>
			<small><%= form.label token, radio  %></small>
			<% if indice == 0 %>
				<%= form.radio_button token, radio, checked: true %>
			<% else %>
				<%= form.radio_button token, radio %>
			<% end %>
		<% end %>

	<% when 'check_box' %>

		<label>
		  <%= form.check_box token %>
		  <%= label %>
		</label>

	<% when 'text' %>
		<%= form.text_field(token, size: 74, class: 'form-control-sm') %></br>

	<% when 'text_area' %>
	<small><%= form.text_area token, size: '66x8' %></small></br>

	<% when 'select' %>
		<small><%= form.select token, sel_list, prompt: "#{label}?" %></small></br>

	<% when 'date' %>
		<small>
		<%= form.date_select token , {order: [:day, :month, :year], prompt: { day: 'Día?', month: 'Mes?', year: 'Año?' }, start_year: Date.today.year + 10, end_year: Date.today.year - 100}, {required: false} %>
		</small></br>

	<% when 'number' %>
		<%= form.text_field(token, size: 74, class: 'form-control-sm') %></br>

	<% when 'hidden' %>
		<%= form.hidden_field token %>

	<% when 'm_select' %>
		<ul>
		<% @objeto.send(asociation).each do |elem| %>
			<li><small><%= elem.send(asociation.singularize) %></small></li>
		<% end %>
		</ul>
		<small>
		<%= form.select ids,
		    options_from_collection_for_select(collection, :id, token),
		    { include_blank: false },
		    multiple: true,
		    class: 'select multiple-select',
		    size: 5 %></small>

    <% when 'file' %>
		<small>
		  	<% if @objeto.send(token.to_s).present? %>
		  		<%= image_tag(@objeto.send(token.to_s).half.url) %></br>
			  	<small><i><%= @objeto.send(token.to_s).url.split('/').last %></i></small></br>
				<label>
				  <%= form.check_box "remove_#{token.to_s}".to_sym %>
				  <%= "Remueve: #{label}" %>
				</label>
		  	<% else %>
			    <%= form.file_field token %>
			    <%= form.hidden_field :ilustracion_cache %>
		    <% end %>
		</small>

	<% end %>
</div>
