<%= form_with(model: st_log, local: true) do |form| %>
  <% if st_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(st_log.errors.count, "error") %> prohibited this st_log from being saved:</h2>

      <ul>
      <% st_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :perfil_id %>
    <%= form.number_field :perfil_id %>
  </div>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :objeto_id %>
    <%= form.number_field :objeto_id %>
  </div>

  <div class="field">
    <%= form.label :e_origen %>
    <%= form.text_field :e_origen %>
  </div>

  <div class="field">
    <%= form.label :e_destino %>
    <%= form.text_field :e_destino %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
