<p id="notice"><%= notice %></p>

<p>
  <strong>B clave:</strong>
  <%= @b_indice.b_clave_id %>
</p>

<p>
  <strong>Ref class:</strong>
  <%= @b_indice.ref_class %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @b_indice.ref_id %>
</p>

<%= link_to 'Edit', edit_b_indice_path(@b_indice) %> |
<%= link_to 'Back', b_indices_path %>
