<small><%= form.label 'Orden | Tutorial' %></small></br>
<div class='form-inline'>

	<%= form.text_field(:orden, size: 5, class: 'form-control' ) %>

	<%= form.text_field(:tutorial, size: 57, class: 'form-control' ) %>

</div>

<small><%= form.label 'Detalle' %></small></br>

<%= form.text_area :detalle, size: '68x3' %><!--/br-->

<%= form.hidden_field :tema_ayuda_id %>
