<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} if in_show?(@objeto, :titulo) %>
<div class='row'>
	<div class='col-md-10'>
		<%= render partial: '0p/general/titulo', locals: {c: 'tema_ayudas', a: nil, titulo: 'Detalle', size: '5'}  %>
		<%= sanitize @objeto.d_detalle %>

		<%= render partial: '0p/general/titulo', locals: {c: 'tema_ayudas', a: nil, titulo: 'Paso a Paso', size: '5'}  %>

		<% unless @coleccion['pasos'].empty? %>
			<table class="table table-striped table-sm  thead-dark">
				<tbody>
					<% @coleccion['pasos'].each do |paso| %>
						<tr><td><%= "| #{paso.orden} | #{paso.paso} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: paso} %></td></tr>
						<tr><td colspan="2"><small><%= sanitize paso.d_detalle %></small></td></tr>
					<% end %>
				</tbody>
			</table>
		<% end %>

		<%= render partial: '0p/general/btn_turbolink', locals: {texto: "Paso", gly: 'plus-circle', link: get_new_link('pasos'), clr: color('pasos'), delete: false} if admin? %>

	</div>
	<div class='col-md-2'>
		<%= render partial: '0p/general/titulo', locals: {c: 'tema_ayudas', a: nil, titulo: 'Temas', size: '5'}  %>
		<% @temas_ayuda.each do |tema_ayuda| %>
			<small><%= link_to tema_ayuda.tema_ayuda, tema_ayuda %></small></br>
		<% end %>
	</div>
</div>
