<h5><%= render partial: '0p/general/icon_text', locals: {gly: 'person', text: @objeto.nombre, clr: app_color[:app]} %></h5>

<div class='row'>
  <div class='col-md-6'>
    <small><i class="bi bi-tag"></i> <b><%= @objeto.estado %></b></small></br>
    <small><i class="bi bi-credit-card-2-front"> </i><%= @objeto.rut %></small></br>
    <small><i class="bi bi-telephone"> </i><%= @objeto.telefono %></small></br>
    <small><i class="bi bi-envelope"> </i><%= @objeto.email %></small></br>

    <i class="bi bi-tag">
    <%= render partial: 'estados/st_bandejas/partials/change_state', locals: {objeto: @objeto} %>
  </div>
  <div class='col-md-6'>
  </div>
</div>
