<tr class="table-<%=table_row_type(objeto)%>">
	<!-- Recorre los campos a desplegar en la table -->
	<!-- f : [campo, tipo_delpliegue] -->
	<!-- Esta versión incluye en 'normal' los antiguos campos 'display'--> 
	<!-- Hay que usar el nombre del campos display en TABLA_FIELDS -->

	<% case objeto.class.name %>
	<% when 'Directorio' %>
		<td><i class="bi bi-folder2"></i></td>
	<% when 'Documento'  %>
		<td><i class="bi bi-journals"></i></td>
	<% when 'Archivo'  %>
		<td><i class="bi bi-file-text"></i></td>
	<% when 'Imagen' %>
		<td><i class="bi bi-file-richtext"></i></td>
	<% end %>

	<% m_tabla_fields(objeto).each do |f| %>

		<% case f[1] %>
		<% when 'show' %>
			<% if show_link_condition(objeto) %>
				<td><small><%= (a == 'seleccion' ? get_field(f[0], objeto) : link_to( get_field(f[0], objeto), objeto)) %></small></td>
			<% else %>
				<td><small> <%= get_field(f[0], objeto) %> </small></td>
			<% end %>
		<% when 'show_link' %>
			<% if show_link_condition(objeto) %>
				<td><small><%= (a == 'seleccion' ? get_field(f[0], objeto) : link_to( get_field(f[0], objeto), objeto)) %></small><small><%= (objeto.link.blank? ? '(link no encontrado)' :link_to( "( link )", objeto.link)) %></small></td>
			<% else %>
				<td><small> <%= get_field(f[0], objeto) %> </small><%= (objeto.link.blank? ? '(link no encontrado)' :link_to( "( link )", objeto.link)) %></td>
			<% end %>
		<% when 'normal' %>
			<td><small> <%= get_field(f[0], objeto) %> </small></td>
		<% when 'texto' %>
			<td><small> <%= get_field(f[0], objeto) %> </small></td>
		<% when 'valor' %>
			<td align='right'><small> <%= get_field(f[0], objeto) %> </small></td>
		<% when 'diahora' %>
			<td><small> <%= objeto.send(f[0]).strftime("%d-%m-%Y") %> </small></td>
		<% when 'link'  %>
				<td><small><%= (get_field(f[0], objeto).blank? ? '[ link no disponible ]' : link_to( "[ #{get_field(f[0], objeto)} ]", get_field(f[0], objeto), target: :_blank)) %></small></td>
		<% when 'url'  %>
			<td><small> <%= (objeto.send(f[0]).send('url').present? ? objeto.d_nombre : '[ sin archivo carga ]') %> </small></td>
		<% when 'link_file' %>
			<td>
				<% if ['Documento', 'Archivo', 'Imagen'].include?(objeto.class.name) %>
					<%= render partial: '0p/general/btn_turbolink', locals: {texto: nil, gly: 'download', link: objeto.send(f[0]).send('url'), delete: false, clr: color(objeto.class.name.tableize)} if objeto.send(f[0]).present? %>
				<% else %>
				<small><%= (objeto.send(f[0]).present? ? link_to( objeto.d_nombre, objeto.send(f[0]).send('url')) : '[ Sin archivo cargado ]') %></small>
				<% end %>
			</td>
		<% end %>
	<% end %>

	<td><%= render partial: '0p/tabla/btns', locals: {a: a, objeto: objeto} %></td>
</tr>
