<%= form_with(model: st_estado, local: true) do |form| %>
  <% if st_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(st_estado.errors.count, "error") %> prohibited this st_estado from being saved:</h2>

      <ul>
      <% st_estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :st_estado %>
    <%= form.text_field :st_estado %>
  </div>

  <div class="field">
    <%= form.label :destinos %>
    <%= form.text_field :destinos %>
  </div>

  <div class="field">
    <%= form.label :destinos_admin %>
    <%= form.text_field :destinos_admin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
