<p id="notice"><%= notice %></p>

<p>
  <strong>Orden:</strong>
  <%= @st_estado.orden %>
</p>

<p>
  <strong>St estado:</strong>
  <%= @st_estado.st_estado %>
</p>

<p>
  <strong>Destinos:</strong>
  <%= @st_estado.destinos %>
</p>

<p>
  <strong>Destinos admin:</strong>
  <%= @st_estado.destinos_admin %>
</p>

<%= link_to 'Edit', edit_st_estado_path(@st_estado) %> |
<%= link_to 'Back', st_estados_path %>
