<p id="notice"><%= notice %></p>

<p>
  <strong>B clave faceta:</strong>
  <%= @b_indice_faceta.b_clave_faceta_id %>
</p>

<p>
  <strong>Ref class:</strong>
  <%= @b_indice_faceta.ref_class %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @b_indice_faceta.ref_id %>
</p>

<%= link_to 'Edit', edit_b_indice_faceta_path(@b_indice_faceta) %> |
<%= link_to 'Back', b_indice_facetas_path %>
