<%= form_with(model: st_perfil_modelo, local: true) do |form| %>
  <% if st_perfil_modelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(st_perfil_modelo.errors.count, "error") %> prohibited this st_perfil_modelo from being saved:</h2>

      <ul>
      <% st_perfil_modelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :st_perfil_modelo %>
    <%= form.text_field :st_perfil_modelo %>
  </div>

  <div class="field">
    <%= form.label :rol %>
    <%= form.text_field :rol %>
  </div>

  <div class="field">
    <%= form.label :ingresa_registros %>
    <%= form.check_box :ingresa_registros %>
  </div>

  <div class="field">
    <%= form.label :app_perfil_id %>
    <%= form.number_field :app_perfil_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
