<p id="notice"><%= notice %></p>

<p>
  <strong>St perfil modelo:</strong>
  <%= @st_perfil_modelo.st_perfil_modelo %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @st_perfil_modelo.rol %>
</p>

<p>
  <strong>Ingresa registros:</strong>
  <%= @st_perfil_modelo.ingresa_registros %>
</p>

<p>
  <strong>App perfil:</strong>
  <%= @st_perfil_modelo.app_perfil_id %>
</p>

<%= link_to 'Edit', edit_st_perfil_modelo_path(@st_perfil_modelo) %> |
<%= link_to 'Back', st_perfil_modelos_path %>
