<div class='row'>
	<div class='col-md-12'>
	<!-- TODOS los CONTROLADORES FRAME tienen el TITULO en el MODELO -->
	<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: frame_titulo(controller_name, action_name), size: '5'} %>
	</div>
</div>
<div class='row'>
	<!-- SELECTOR -->
	<div class='col-md-3'>
		<%= render partial: '0p/list/links_w_badges', locals: {titulo: bi_frame_selector(controller_name, action_name), list: @frame_selector, sel: @sel, options: @options} %>
	</div>
	<!-- TABLA -->
	<div class='col-md-9'>
		<!-- Pregunta si esta acción de recursos despliega TABS -->
		<!-- Si es así, obtiene los TABSv del modelo Recurso -->
		<% if frame_with_tabs?(controller_name, action_name) %>
			<%= render partial: '0p/tabs/tabs', locals: {tabs: frame_tabs(controller_name, action_name), tag: 'ftab', active: @ftab } %>
		<% end %>

		<!-- Pregunta si esta acción despliega una TABLA, si es asi la despliega -->
		<% if frame_with_table?(controller_name, action_name) %>
			<%= render partial: '0p/general/titulo', locals: {c: app_alias_tabla(controller_name), a: 'index', titulo: '', size: '5'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: app_alias_tabla(controller_name), a: 'index'} %>
		<% end %>
	</div>
</div>