<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Detalle', size: '5'}  %>
		<%= sanitize simple_format(@objeto.detalle) %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Tutoriales', size: '5'}  %>

		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'tutoriales', a: 'index'} %>
	</div>
</div>
