<p id="notice"><%= notice %></p>

<h1>Medicamentos</h1>

<table>
  <thead>
    <tr>
      <th>Medicamento</th>
      <th>Dosis</th>
      <th>Autonomia administracion</th>
      <th>Adherencia tratamiento</th>
      <th>Pcd id.integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.medicamento %></td>
        <td><%= medicamento.dosis %></td>
        <td><%= medicamento.autonomia_administracion %></td>
        <td><%= medicamento.adherencia_tratamiento %></td>
        <td><%= medicamento.pcd_id.integer %></td>
        <td><%= link_to 'Show', medicamento %></td>
        <td><%= link_to 'Edit', edit_medicamento_path(medicamento) %></td>
        <td><%= link_to 'Destroy', medicamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicamento', new_medicamento_path %>
