<small><%= form.label 'Tutorial' %></small></br>
<div class='form-inline'>
	<%= form.text_field(:tutorial, size: 67, class: 'form-control' ) %>
</div>
<small><%= form.label 'Clave' %></small></br>
<div class='form-inline'>
	<%= form.text_field(:clave, size: 67, class: 'form-control' ) %>
</div>

<small><%= form.label 'Detalle' %></small></br>

<%= form.text_area :detalle, size: '68x3' %><!--/br-->
