<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>

<%= render partial: '0p/general/btn_turbolink', locals: {texto: 'Enviar', gly: 'envelope', link: "/mensajes/#{@objeto.id}/estado?estado=enviado", delete: false, style: 'btn-outline-dark', clr: color(controller_name)} if ['ingreso', 'cerrado'].include?(@objeto.estado) %>
<%= render partial: '0p/general/btn_turbolink', locals: {texto: 'Cerrar', gly: 'check-circle', link: "/mensajes/#{@objeto.id}/estado?estado=cerrado", delete: false, style: 'btn-outline-dark', clr: color(controller_name)} if @objeto.estado == 'enviado' %>
</br></br>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Detalle Mensaje', size: '5'} %>
		<h6>
			<%= sanitize @objeto.d_detalle %>
		</h6>


		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: '+ Respuesta', size: '5'} %>
		<%= form_for :mensaje_base, url: "/mensajes/respuesta?padre_id=#{@objeto.id}" do |form| %>
 
 			<small><%= form.label 'mensaje' %></small></br>
			<%= form.text_field(:mensaje, size: 30, class: 'form-control' ) %>

			<small><%= form.label 'detalle' %></small></br>
		  	<%= form.text_area :detalle, size: '66x10' %><!--/br-->

			<%= form.submit '+ Respuesta'  %>

		<% end  %>

	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: controller_name, a: nil, titulo: 'Respuestas', size: '5'} %>
		<% @objeto.children.order(fecha_envio: :desc).each do |resp| %>
			<small><%= "| #{resp.tipo} | #{resp.perfil.email} | #{l(resp.fecha_envio)}" %></small>
			<h6>
				<%= sanitize resp.d_detalle %>
			</h6>
		<% end %>
	</div>
</div>
