<%= form_with(model: app_dir_dir, local: true) do |form| %>
  <% if app_dir_dir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_dir_dir.errors.count, "error") %> prohibited this app_dir_dir from being saved:</h2>

      <ul>
      <% app_dir_dir.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :child_id %>
    <%= form.number_field :child_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
