<!-- Despliega el botón a menos que esté en la página del botón -->
<!-- las lineas comentadas borran el botón if_current -->
<li class="nav-item <%= 'active' if active %>">
	<% if delete %>
		<%= link_to link, method: :delete, class: "nav-link" do %>
			<% unless gly.blank? %>
				<i class=<%="bi-#{gly}"%>></i>
			<% end %>
		    <%= nombre unless nombre.blank? %>
		<% end %>
	<% else %>
		<%= link_to link, class: "nav-link" do %>
			<% unless gly.blank? %>
				<i class=<%="bi-#{gly}"%>></i>
			<% end %>
			<%= nombre unless nombre.blank? %>
		<% end %>
	<% end %>
</li>
