<p id="notice"><%= notice %></p>

<p>
  <strong>Idioma:</strong>
  <%= @b_regla.idioma %>
</p>

<p>
  <strong>Tipo palabra:</strong>
  <%= @b_regla.tipo_palabra %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @b_regla.accion %>
</p>

<p>
  <strong>B regla:</strong>
  <%= @b_regla.b_regla %>
</p>

<%= link_to 'Edit', edit_b_regla_path(@b_regla) %> |
<%= link_to 'Back', b_reglas_path %>
