<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-6'>
		</br>
		<h<%=font_size[:title_tema]%> class="text-<%=app_color[:title_tema]%>"><%= elem.tema_ayuda %></h<%=font_size[:title_tema]%>>
		<h<%=font_size[:detalle_tema]%> class='text-<%=app_color[:detalle_tema]%>'>
			<%= sanitize elem.d_detalle %>
		</h<%=font_size[:detalle_tema]%>>
	</div>
	<div class='col-md-4'>
		</br></br></br>
		<%= render partial: '0p/imagenes/ilustracion', locals: {objeto: elem, class_image: image_class[:image_tema], size: image_size[:tema] } %>

		<%# unless elem.credito_foto.blank? %>
			<!--small><p class='text-center'><i>Crédito Fotografía: <b><%#= sanitize elem.credito_foto %></b></i></p></small-->
		<%# end %>
	</div>
	<div class='col-md-1'></div>
</div>