<%= render partial: '0p/general/titulo', locals: {c: 'tema_ayudas', a: nil, titulo: "Temas Inicio | #{@tab}", size: '5', bg_color: 'bg-'+color('tema_ayudas')} %>

<%= render partial: '0p/tabs/tabs', locals: {tabs: @tabs, tag: 'tab', active: @tab} %>

<% unless @coleccion['tema_ayudas'].empty? %>
	<table class="table table-sm  thead-dark">
		<tbody>
			<% @coleccion['tema_ayudas'].each do |ta| %>

				<tr><td><%= (['tema', 'admin'].include?(ta.tipo) ? (link_to ta.tema_ayuda, ta) : ta.tema_ayuda) %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: ta} %></td></tr>

				<% if ['tema', 'admin'].include?(@tab) %>

					<%= render partial: 'help/tema_ayudas/partials/tema_ayuda', locals: {ta: ta} %>

				<% else %>

					<tr>
					<td colspan="3">
						<% case @tab %>
						<% when 'portada' %>

							<%= render partial: 'help/tema_ayudas/partials/elem_portada', locals: {elem: ta} %>

						<% when 'foot' %>

							<%= render partial: 'help/tema_ayudas/partials/elem_foot', locals: {elem: ta} %>

						<% when 'inicio' %>

							<%= render partial: 'help/tema_ayudas/partials/home_elemento', locals: {elem: ta} %>

						<% when 'mensaje' %>

							<%= render partial: 'help/mensajes/partials/elem_mensaje', locals: {elem: ta} %>

						<% end %>
					</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>

<!-- Btn_nuevo manual -->
</br></br>
<% if admin? %>
	<%= render partial: '0p/general/btn_turbolink', locals: {texto: "Tema Ayuda", gly: 'plus-circle', link: get_new_link('tema_ayudas')+"?tipo=#{@tab}", clr: color('tema_ayudas'), delete: false} %>
<% end %>
