<tr class="table-<%=table_row_type(objeto)%>">

	<% case objeto.class.name %>
	<% when 'AppDirectorio' %>
		<td><i class="bi bi-folder2"></i></td>
		<td colspan='2'><small><%= link_to( objeto.directorio, objeto) %></small></td>
	<% when 'AppDocumento'  %>
		<td><i class="bi bi-journals"></i></td>
		<td><small><%= link_to( objeto.documento, objeto) %></small></td>
		<td><small>
			<% if objeto.d_version.present? %>
				<%= render partial: '0p/general/btn_blank', locals: {texto: nil, gly: 'download', link: objeto.d_version.send('url'), delete: false, clr: color(objeto.class.name.tableize)} if objeto.d_version.present? %>
			<% else %>
				Documento vacío
			<% end %>
			<%= render partial: '0p/general/btn_turbolink', locals: {texto: nil, gly: 'plus-circle', link: "/app_archivos/new?class_name=AppDocumento&objeto_id=#{objeto.id}", delete: false, clr: color(objeto.class.name.tableize)} %>
			</small>
		</td>
	<% when 'AppArchivo'  %>
		<td><i class="bi bi-file-text"></i></td>
	<% when 'AppImagen' %>
		<td><i class="bi bi-file-richtext"></i></td>
	<% end %>

	<td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: objeto} %></td>

</tr>